PORT=5000

JWT_SECRET=

FRONTEND_URL=http://localhost:5173

DB_PORT=5432
DB_HOST=localhost
DB_USER=postgres
PASSWORD=
DB_NAME=jobPortal

EMAIL_USER=
SENDGRID_API_KEY=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=